##########################################################################
# Stand up a dev environment for Tuskfish with a bind-mounted directory. #
# Configuration: Change the username to match your own.                  #
# Usage: docker compose -p yourprojectname up -d                         #
##########################################################################

version: '3.7'

services:
  website:
    image: phpdev
    volumes:
      # Customise bind mount a host directory (webserver root) to the container.
      # Change yourUserName/www to suit your own needs.
      - /home/yourUserName/www:/var/www/
    working_dir: /var/www/html
    restart: always
    ports:
      - 80:80/tcp
    # If using for PRODUCTION, uncomment the user line below.
    user: www-data:www-data
